.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-header {
  padding: 20px;
  border-bottom: 2px solid #ccc; /* Puedes ajustar el color del borde según tus preferencias */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Puedes ajustar la sombra según tus preferencias */
  padding: 10px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
/* Estilos adicionales según tus preferencias */
/* Modo claro (predeterminado) */
.App.light-mode {
  background-color: #fff;
  color: #000;
}

.App.light-mode .circle {
  background-color: #fff;
  border: 2px solid #282c34;
}

/* Modo oscuro */
.App.dark-mode {
  background-color: #282c34;
  color: #fff;
}

.App.dark-mode .circle {
  background-color: #282c34;
  border: 2px solid #fff;
}

/* Estilos adicionales para los botones u otros elementos según tus preferencias */
/* Estilos para el modo oscuro */
.dark-mode .App-header {
  background-color: #333; /* Puedes ajustar el color según tus preferencias */
  border-bottom: 2px solid #555; /* Puedes ajustar el color del borde según tus preferencias */
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1); /* Puedes ajustar la sombra según tus preferencias */
  padding: 10px; /* Puedes ajustar el espacio interno según tus preferencias */
  color: white; /* Puedes ajustar el color del texto según tus preferencias */
}

.light-mode .App-header {
  background-color: #f0f0f0; /* Puedes ajustar el color según tus preferencias */
  border-bottom: 2px solid #ccc; /* Puedes ajustar el color del borde según tus preferencias */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Puedes ajustar la sombra según tus preferencias */
  padding: 10px; /* Puedes ajustar el espacio interno según tus preferencias */
}